body{
    background-color: #fbf59b;
    font-size: 18pt;
    font-family: Verdana;
    margin: 0;
}

article{
    background-color: #15aef5;
    width: 500px;
    margin: auto;
    border: 2px dashed #000000;
    padding: 30px;
    border-radius: 100px 100px 10px 0;
    box-shadow: 5px 5px 5px #000000;
}

h2{
    margin: 0;
    text-align: center;
}

p{
    text-align: justify;

}